@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

/* Utilities */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 500;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

section {
    height: 100vh;
}

// First Page
.first-page {
    background: #D6E5F9;
}

// Second Page
.second-page {
    background: #28374b;
    padding-top: 20vh;
}

// Second Page
.third-page {
    background: green;
}

// Second Page
.fourth-page {
    background: red;
}





/* Tablets and under */

// @media(max-width: 768px) {}

/* Mobile */

// @media(max-width: 500px) {}

// @media only screen and (max-width: 843px) {}